@font-face {
  font-family: "iconfont"; /* Project id 2630483 */
  src: url('iconfont.woff2?t=1652425448657') format('woff2'),
       url('iconfont.woff?t=1652425448657') format('woff'),
       url('iconfont.ttf?t=1652425448657') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-check:before {
  content: "\e889";
}

.iconfont-modify:before {
  content: "\e68a";
}

.iconfont-home:before {
  content: "\e751";
}

.iconfont-processAudit:before {
  content: "\e65e";
}

.iconfont-record:before {
  content: "\e65d";
}

.iconfont-securityDealRecord:before {
  content: "\e714";
}

.iconfont-securityReport:before {
  content: "\e612";
}

.iconfont-securityReportRecord:before {
  content: "\e613";
}

.iconfont-processFilling:before {
  content: "\e614";
}

.iconfont-verify:before {
  content: "\e669";
}

.iconfont-menu:before {
  content: "\e625";
}

.iconfont-me:before {
  content: "\e645";
}

.iconfont-produceRecord:before {
  content: "\e6cc";
}

.iconfont-securityRecord:before {
  content: "\e819";
}

.iconfont-arrow--copy:before {
  content: "\e721";
}

.iconfont-arrow--copy-copy:before {
  content: "\e722";
}

.iconfont-arrow-:before {
  content: "\e624";
}

.iconfont-xiangshangjiantou:before {
  content: "\e620";
}

.iconfont-xiangshangjiantou-copy:before {
  content: "\e71f";
}

.iconfont-xiangshangjiantou-copy1:before {
  content: "\e720";
}

.iconfont-jiantouzuo:before {
  content: "\e659";
}

.iconfont-monitor:before {
  content: "\e62f";
}

.iconfont-overview:before {
  content: "\e656";
}

.iconfont-news:before {
  content: "\e677";
}

.iconfont-bim:before {
  content: "\e684";
}

.iconfont-daishenhe:before {
  content: "\e618";
}

.iconfont-yitongguo:before {
  content: "\e60f";
}

.iconfont-yibohui:before {
  content: "\e67c";
}

.iconfont-security:before {
  content: "\e602";
}

.iconfont-quality:before {
  content: "\e62e";
}

.iconfont-chedule:before {
  content: "\e631";
}

.iconfont-center:before {
  content: "\e71e";
}

